
#company {
 
  align-items: center;
}
#company img {
  width: 150px;
  margin: 10px;
  padding: 10px;
}

.myFile {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.myFile h5 {
  width: 150px;
  height: 100%;
}

.logo-contet {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #6494b7;
}
.logo-contet .logo {
  margin-left: 10px;
}

#aboutUs,
#vision {
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutUs .aboutUs-img {
  padding-left: 40px;
}
#aboutUs .aboutUs-img img {
  width: 250px;
  margin: 20px;
}
#aboutUs p {
  line-height: 30px;
}

.show {
  width: 40%;
}
.show h3 {
  font-size: 40px;
  color: #6494b7;
  font-weight: bold;
  margin: 0 0 40px 0;
  padding-bottom: 6px;
  width: 180px;
  border-bottom: solid;
}
#vision img {
  object-fit: contain;
}

#vision .vision-img {
  width: 50%;
  display: flex;
  align-items: center;
}
#vision .vision-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#vision {
  justify-content: space-between;
  align-items: center;
}
.vision-back {
  width: 50%;
  padding: 40px;
}

.vision-back h3,
.vision-back p {
  color: #fff;
  line-height: 35px;
}
.about-img {
  display: flex;
  align-items: center;
}
.about-img img {
  object-fit: contain;
  margin: 0 0 40px 15px;
}
.tawk-flex {
  background-color: white;
}

#discount-bunner {
  height: 40px;
  width: 100%;
  height: 100%;
}
#discount-bunner {
  background: linear-gradient(45deg, #6070b4, #5ea2c2);
  font-size: 14px;
  padding: 0;
  height: 80px;
}
.show-logo {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: url(../Img/logo.png);
  background-position: right;
  background-repeat: no-repeat;
}

#discount-bunner a {
  padding-left: 5px;
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}

#discount-bunner a strong {
  padding-left: 5px;
  color: #5bd1d7;
  font-size: 24px;
  font-weight: 800;
}
